xsd1.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:ns1="http://cctray" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://cctray" schemaLocation="xsd0.xsd"/>

  <xs:element name="Projects" type="ns1:projects"/>

  <xs:element name="agent" type="agent"/>

  <xs:element name="agent-ref" type="agent-ref"/>

  <xs:element name="agent-requirement" type="propEntityAgentRequirement"/>

  <xs:element name="agent-requirements" type="propEntitiesAgentRequirement"/>

  <xs:element name="agentPool" type="agentPool"/>

  <xs:element name="agentPool-ref" type="agentPool-ref"/>

  <xs:element name="agentPools" type="agentPools"/>

  <xs:element name="agents" type="agents-ref"/>

  <xs:element name="artifact-dependencies" type="propEntitiesArtifactDep"/>

  <xs:element name="artifact-dependency" type="propEntityArtifactDep"/>

  <xs:element name="branch" type="branch"/>

  <xs:element name="branches" type="branches"/>

  <xs:element name="build" type="build"/>

  <xs:element name="build-ref" type="build-ref"/>

  <xs:element name="buildCancelRequest" type="buildCancelRequest"/>

  <xs:element name="buildTriggeringOptions" type="buildTriggeringOptions"/>

  <xs:element name="buildType" type="buildType"/>

  <xs:element name="buildTypes" type="buildTypes"/>

  <xs:element name="builds" type="builds"/>

  <xs:element name="change" type="change"/>

  <xs:element name="changes" type="changes"/>

  <xs:element name="comment" type="comment"/>

  <xs:element name="entries" type="entries"/>

  <xs:element name="entry" type="entry"/>

  <xs:element name="feature" type="propEntityFeature"/>

  <xs:element name="features" type="propEntitiesFeature"/>

  <xs:element name="file" type="file"/>

  <xs:element name="file-ref" type="file-ref"/>

  <xs:element name="files" type="files"/>

  <xs:element name="group" type="group"/>

  <xs:element name="groups" type="groups"/>

  <xs:element name="href" type="HReference"/>

  <xs:element name="investigation" type="investigation"/>

  <xs:element name="investigations" type="investigations"/>

  <xs:element name="issues" type="issues"/>

  <xs:element name="issuesUsages" type="issueUsages"/>

  <xs:element name="items" type="items"/>

  <xs:element name="mutes" type="mutes"/>

  <xs:element name="newBuildTypeDescription" type="newBuildTypeDescription"/>

  <xs:element name="newProjectDescription" type="newProjectDescription"/>

  <xs:element name="parameterType" type="parameterType"/>

  <xs:element name="plugin" type="pluginInfo"/>

  <xs:element name="plugins" type="pluginInfos"/>

  <xs:element name="problem" type="problem"/>

  <xs:element name="problemOccurrence" type="problemOccurrence"/>

  <xs:element name="problemOccurrences" type="problemOccurrences"/>

  <xs:element name="problems" type="problems"/>

  <xs:element name="progress-info" type="runningBuildInfo"/>

  <xs:element name="project" type="project"/>

  <xs:element name="projects" type="projects"/>

  <xs:element name="properties" type="properties"/>

  <xs:element name="property" type="property"/>

  <xs:element name="role" type="roleAssignment"/>

  <xs:element name="roles" type="roleAssignments"/>

  <xs:element name="server" type="server"/>

  <xs:element name="snapshot-dependencies" type="propEntitiesSnapshotDep"/>

  <xs:element name="snapshot-dependency" type="propEntitySnapshotDep"/>

  <xs:element name="step" type="propEntityStep"/>

  <xs:element name="steps" type="propEntitiesStep"/>

  <xs:element name="tags" type="tags"/>

  <xs:element name="test" type="test"/>

  <xs:element name="testOccurrence" type="testOccurrence"/>

  <xs:element name="testOccurrences" type="testOccurrences"/>

  <xs:element name="tests" type="tests"/>

  <xs:element name="trigger" type="propEntityTrigger"/>

  <xs:element name="triggers" type="propEntitiesTrigger"/>

  <xs:element name="user" type="user"/>

  <xs:element name="users" type="users"/>

  <xs:element name="vcs-root" type="vcs-root"/>

  <xs:element name="vcs-root-entries" type="vcsRootEntries"/>

  <xs:element name="vcs-root-entry" type="vcs-root-entry"/>

  <xs:element name="vcs-root-instance" type="vcs-root-instance"/>

  <xs:element name="vcs-root-instance-ref" type="vcs-root-instance-ref"/>

  <xs:element name="vcs-root-instances" type="vcs-root-instances"/>

  <xs:element name="vcs-root-ref" type="vcs-root-ref"/>

  <xs:element name="vcs-roots" type="vcs-roots"/>

  <xs:element name="vcsLabeling" type="vcsLabelingOptions"/>

  <xs:complexType name="users">
    <xs:sequence>
      <xs:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element ref="properties" minOccurs="0"/>
      <xs:element ref="roles" minOccurs="0"/>
      <xs:element ref="groups" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="username" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="email" type="xs:string"/>
    <xs:attribute name="lastLogin" type="xs:string"/>
    <xs:attribute name="password" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="realm" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="properties">
    <xs:sequence>
      <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="property">
    <xs:sequence>
      <xs:element name="type" type="parameterType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="own" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="parameterType">
    <xs:sequence/>
    <xs:attribute name="rawValue" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="roleAssignments">
    <xs:sequence>
      <xs:element ref="role" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roleAssignment">
    <xs:sequence/>
    <xs:attribute name="roleId" type="xs:string"/>
    <xs:attribute name="scope" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="groups">
    <xs:sequence>
      <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="group">
    <xs:sequence>
      <xs:element name="parent-groups" type="groups" minOccurs="0"/>
      <xs:element name="child-groups" type="groups" minOccurs="0"/>
      <xs:element ref="users" minOccurs="0"/>
      <xs:element ref="roles" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="agentPool">
    <xs:sequence>
      <xs:element ref="projects" minOccurs="0"/>
      <xs:element ref="agents" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="projects">
    <xs:sequence>
      <xs:element ref="project" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="project">
    <xs:sequence>
      <xs:element name="parentProject" type="project" minOccurs="0"/>
      <xs:element ref="buildTypes" minOccurs="0"/>
      <xs:element name="templates" type="buildTypes" minOccurs="0"/>
      <xs:element name="parameters" type="properties" minOccurs="0"/>
      <xs:element name="vcsRoots" type="HReference" minOccurs="0"/>
      <xs:element ref="projects" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="internalId" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="parentProjectId" type="xs:string"/>
    <xs:attribute name="parentProjectInternalId" type="xs:string"/>
    <xs:attribute name="parentProjectName" type="xs:string"/>
    <xs:attribute name="archived" type="xs:boolean"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="webUrl" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="buildTypes">
    <xs:sequence>
      <xs:element ref="buildType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="buildType">
    <xs:sequence>
      <xs:element ref="project" minOccurs="0"/>
      <xs:element name="template" type="buildType" minOccurs="0"/>
      <xs:element ref="vcs-root-entries" minOccurs="0"/>
      <xs:element name="settings" type="properties" minOccurs="0"/>
      <xs:element name="parameters" type="properties" minOccurs="0"/>
      <xs:element ref="steps" minOccurs="0"/>
      <xs:element ref="features" minOccurs="0"/>
      <xs:element ref="triggers" minOccurs="0"/>
      <xs:element ref="snapshot-dependencies" minOccurs="0"/>
      <xs:element ref="artifact-dependencies" minOccurs="0"/>
      <xs:element ref="agent-requirements" minOccurs="0"/>
      <xs:element ref="builds" minOccurs="0"/>
      <xs:element ref="investigations" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="internalId" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="templateFlag" type="xs:boolean"/>
    <xs:attribute name="paused" type="xs:boolean"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="projectName" type="xs:string"/>
    <xs:attribute name="projectId" type="xs:string"/>
    <xs:attribute name="projectInternalId" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="webUrl" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="vcsRootEntries">
    <xs:sequence>
      <xs:element ref="vcs-root-entry" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vcs-root-entry">
    <xs:sequence>
      <xs:element name="vcs-root" type="vcs-root-ref" minOccurs="0"/>
      <xs:element name="checkout-rules" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="vcs-root-ref">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="internalId" type="xs:long"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="propEntitiesStep">
    <xs:sequence>
      <xs:element ref="step" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="propEntityStep">
    <xs:complexContent>
      <xs:extension base="propEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="propEntity">
    <xs:sequence>
      <xs:element ref="properties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="disabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="propEntitiesFeature">
    <xs:sequence>
      <xs:element ref="feature" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="propEntityFeature">
    <xs:complexContent>
      <xs:extension base="propEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="propEntitiesTrigger">
    <xs:sequence>
      <xs:element ref="trigger" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="propEntityTrigger">
    <xs:complexContent>
      <xs:extension base="propEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="propEntitiesSnapshotDep">
    <xs:sequence>
      <xs:element ref="snapshot-dependency" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="propEntitySnapshotDep">
    <xs:complexContent>
      <xs:extension base="propEntity">
        <xs:sequence>
          <xs:element name="source-buildType" type="buildType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="propEntitiesArtifactDep">
    <xs:sequence>
      <xs:element ref="artifact-dependency" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="propEntityArtifactDep">
    <xs:complexContent>
      <xs:extension base="propEntity">
        <xs:sequence>
          <xs:element name="source-buildType" type="buildType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="propEntitiesAgentRequirement">
    <xs:sequence>
      <xs:element ref="agent-requirement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="propEntityAgentRequirement">
    <xs:complexContent>
      <xs:extension base="propEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="builds">
    <xs:sequence>
      <xs:element ref="build" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="build">
    <xs:sequence>
      <xs:element name="statusText" type="xs:string" minOccurs="0"/>
      <xs:element ref="buildType" minOccurs="0"/>
      <xs:element ref="comment" default="" minOccurs="0"/>
      <xs:element ref="tags" minOccurs="0"/>
      <xs:element name="pinInfo" type="comment" minOccurs="0"/>
      <xs:element ref="user" minOccurs="0"/>
      <xs:element name="startEstimate" type="xs:string" minOccurs="0"/>
      <xs:element name="waitReason" type="xs:string" minOccurs="0"/>
      <xs:element name="running-info" type="runningBuildInfo" minOccurs="0"/>
      <xs:element name="canceledInfo" type="comment" minOccurs="0"/>
      <xs:element name="queuedDate" type="xs:string" minOccurs="0"/>
      <xs:element name="startDate" type="xs:string" minOccurs="0"/>
      <xs:element name="finishDate" type="xs:string" minOccurs="0"/>
      <xs:element name="triggered" type="triggeredBy" minOccurs="0"/>
      <xs:element name="lastChanges" type="changes" minOccurs="0"/>
      <xs:element ref="changes" minOccurs="0"/>
      <xs:element name="revisions" type="revisions" minOccurs="0"/>
      <xs:element name="agent" type="agent-ref" minOccurs="0"/>
      <xs:element name="compatibleAgents" type="HReference" minOccurs="0"/>
      <xs:element ref="testOccurrences" minOccurs="0"/>
      <xs:element ref="problemOccurrences" minOccurs="0"/>
      <xs:element name="artifacts" type="HReference" minOccurs="0"/>
      <xs:element name="relatedIssues" type="issueUsages" minOccurs="0"/>
      <xs:element ref="properties" minOccurs="0"/>
      <xs:element name="attributes" type="entries" minOccurs="0"/>
      <xs:element name="statistics" type="properties" minOccurs="0"/>
      <xs:element name="snapshot-dependencies" type="builds" minOccurs="0"/>
      <xs:element name="artifact-dependencies" type="builds" minOccurs="0"/>
      <xs:element name="custom-artifact-dependencies" type="propEntitiesArtifactDep" minOccurs="0"/>
      <xs:element name="triggeringOptions" type="buildTriggeringOptions" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="taskId" type="xs:long"/>
    <xs:attribute name="buildTypeId" type="xs:string"/>
    <xs:attribute name="number" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="state" type="xs:string"/>
    <xs:attribute name="running" type="xs:boolean"/>
    <xs:attribute name="personal" type="xs:boolean"/>
    <xs:attribute name="percentageComplete" type="xs:int"/>
    <xs:attribute name="branchName" type="xs:string"/>
    <xs:attribute name="defaultBranch" type="xs:boolean"/>
    <xs:attribute name="unspecifiedBranch" type="xs:boolean"/>
    <xs:attribute name="history" type="xs:boolean"/>
    <xs:attribute name="pinned" type="xs:boolean"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="webUrl" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element ref="user" minOccurs="0"/>
      <xs:element name="timestamp" type="xs:string" minOccurs="0"/>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tags">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runningBuildInfo">
    <xs:sequence/>
    <xs:attribute name="percentageComplete" type="xs:int"/>
    <xs:attribute name="elapsedSeconds" type="xs:long" use="required"/>
    <xs:attribute name="estimatedTotalSeconds" type="xs:long"/>
    <xs:attribute name="currentStageText" type="xs:string"/>
    <xs:attribute name="outdated" type="xs:boolean" use="required"/>
    <xs:attribute name="probablyHanging" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="triggeredBy">
    <xs:sequence>
      <xs:element ref="user" minOccurs="0"/>
      <xs:element ref="buildType" minOccurs="0"/>
      <xs:element ref="properties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="details" type="xs:string"/>
    <xs:attribute name="date" type="xs:string"/>
    <xs:attribute name="rawValue" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="changes">
    <xs:sequence>
      <xs:element ref="change" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="change">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element ref="user" minOccurs="0"/>
      <xs:element name="files" type="fileChanges" minOccurs="0"/>
      <xs:element name="vcsRootInstance" type="vcs-root-instance-ref" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="username" type="xs:string"/>
    <xs:attribute name="date" type="xs:string"/>
    <xs:attribute name="personal" type="xs:boolean"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="webLink" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="fileChanges">
    <xs:sequence>
      <xs:element name="file" type="fileChange" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileChange">
    <xs:sequence/>
    <xs:attribute name="before-revision" type="xs:string"/>
    <xs:attribute name="after-revision" type="xs:string"/>
    <xs:attribute name="file" type="xs:string"/>
    <xs:attribute name="relative-file" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="vcs-root-instance-ref">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="vcs-root-id" type="xs:string"/>
    <xs:attribute name="vcsRootInternalId" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="revisions">
    <xs:sequence>
      <xs:element name="revision" type="revision" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="revision">
    <xs:sequence>
      <xs:element name="vcs-root-instance" type="vcs-root-instance-ref" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="internalVersion" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="agent-ref">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="typeId" type="xs:int"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="HReference">
    <xs:sequence/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="testOccurrences">
    <xs:complexContent>
      <xs:extension base="occurrencesSummary">
        <xs:sequence>
          <xs:element ref="testOccurrence" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:int"/>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="nextHref" type="xs:string"/>
        <xs:attribute name="prevHref" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="occurrencesSummary">
    <xs:sequence/>
    <xs:attribute name="passed" type="xs:int"/>
    <xs:attribute name="failed" type="xs:int"/>
    <xs:attribute name="newFailed" type="xs:int"/>
    <xs:attribute name="ignored" type="xs:int"/>
    <xs:attribute name="muted" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="testOccurrence">
    <xs:sequence>
      <xs:element name="ignoreDetails" type="xs:string" minOccurs="0"/>
      <xs:element name="details" type="xs:string" minOccurs="0"/>
      <xs:element ref="test" minOccurs="0"/>
      <xs:element name="mute" type="mute" minOccurs="0"/>
      <xs:element name="build" type="build-ref" minOccurs="0"/>
      <xs:element name="firstFailed" type="testOccurrence" minOccurs="0"/>
      <xs:element name="nextFixed" type="testOccurrence" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="ignored" type="xs:boolean"/>
    <xs:attribute name="duration" type="xs:int"/>
    <xs:attribute name="muted" type="xs:boolean"/>
    <xs:attribute name="currentlyMuted" type="xs:boolean"/>
    <xs:attribute name="currentlyInvestigated" type="xs:boolean"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="test">
    <xs:sequence>
      <xs:element ref="mutes" minOccurs="0"/>
      <xs:element ref="investigations" minOccurs="0"/>
      <xs:element name="testOccurrences" type="HReference" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="mutes">
    <xs:sequence>
      <xs:element name="mute" type="mute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="mute">
    <xs:sequence>
      <xs:element name="assignment" type="comment" minOccurs="0"/>
      <xs:element name="scope" type="problemScope" minOccurs="0"/>
      <xs:element name="target" type="problemTarget" minOccurs="0"/>
      <xs:element name="resolution" type="resolution" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="problemScope">
    <xs:sequence>
      <xs:element ref="project" minOccurs="0"/>
      <xs:element ref="buildTypes" minOccurs="0"/>
      <xs:element ref="buildType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="problemTarget">
    <xs:sequence>
      <xs:element ref="tests" minOccurs="0"/>
      <xs:element ref="problems" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="anyProblem" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="tests">
    <xs:sequence>
      <xs:element ref="test" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="problems">
    <xs:sequence>
      <xs:element ref="problem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="problem">
    <xs:sequence>
      <xs:element ref="mutes" minOccurs="0"/>
      <xs:element name="investigations" type="HReference" minOccurs="0"/>
      <xs:element name="problemOccurrences" type="HReference" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="identity" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="resolution">
    <xs:sequence>
      <xs:element name="time" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="investigations">
    <xs:sequence>
      <xs:element ref="investigation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="investigation">
    <xs:sequence>
      <xs:element name="assignee" type="user" minOccurs="0"/>
      <xs:element name="assignment" type="comment" minOccurs="0"/>
      <xs:element name="scope" type="problemScope" minOccurs="0"/>
      <xs:element name="target" type="problemTarget" minOccurs="0"/>
      <xs:element name="resolution" type="resolution" minOccurs="0"/>
      <xs:element name="responsible" type="user" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="state" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="build-ref">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="number" type="xs:string"/>
    <xs:attribute name="running" type="xs:boolean"/>
    <xs:attribute name="percentageComplete" type="xs:int"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="buildTypeId" type="xs:string"/>
    <xs:attribute name="branchName" type="xs:string"/>
    <xs:attribute name="defaultBranch" type="xs:boolean"/>
    <xs:attribute name="unspecifiedBranch" type="xs:boolean"/>
    <xs:attribute name="startDate" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="webUrl" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="problemOccurrences">
    <xs:complexContent>
      <xs:extension base="occurrencesSummary">
        <xs:sequence>
          <xs:element ref="problemOccurrence" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:int"/>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="nextHref" type="xs:string"/>
        <xs:attribute name="prevHref" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="problemOccurrence">
    <xs:sequence>
      <xs:element name="details" type="xs:string" minOccurs="0"/>
      <xs:element name="additionalData" type="xs:string" minOccurs="0"/>
      <xs:element ref="problem" minOccurs="0"/>
      <xs:element name="mute" type="mute" minOccurs="0"/>
      <xs:element name="build" type="build-ref" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="identity" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="muted" type="xs:boolean"/>
    <xs:attribute name="currentlyInvestigated" type="xs:boolean"/>
    <xs:attribute name="currentlyMuted" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="issueUsages">
    <xs:sequence>
      <xs:element name="issueUsage" type="issueUsage" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="issueUsage">
    <xs:sequence>
      <xs:element ref="changes" default="" minOccurs="0"/>
      <xs:element name="issue" type="issue" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issue">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="url" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="entries">
    <xs:sequence>
      <xs:element ref="entry" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="entry">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="buildTriggeringOptions">
    <xs:sequence>
      <xs:element name="rebuildDependencies" type="buildTypes" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="cleanSources" type="xs:boolean"/>
    <xs:attribute name="rebuildAllDependencies" type="xs:boolean"/>
    <xs:attribute name="queueAtTop" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="agents-ref">
    <xs:sequence>
      <xs:element name="agent" type="agent-ref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>


  <xs:complexType name="agent">
    <xs:sequence>
      <xs:element ref="properties" minOccurs="0"/>
      <xs:element name="pool" type="agentPool-ref" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="typeId" type="xs:int"/>
    <xs:attribute name="connected" type="xs:boolean" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
    <xs:attribute name="authorized" type="xs:boolean" use="required"/>
    <xs:attribute name="uptodate" type="xs:boolean" use="required"/>
    <xs:attribute name="ip" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="agentPool-ref">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="pluginInfo">
    <xs:sequence>
      <xs:element name="parameters" type="properties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="displayName" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="loadPath" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="file">
    <xs:complexContent>
      <xs:extension base="file-ref">
        <xs:sequence>
          <xs:element name="parent" type="file-ref" minOccurs="0"/>
          <xs:element name="content" type="HReference" minOccurs="0"/>
          <xs:element name="children" type="HReference" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="size" type="xs:long"/>
        <xs:attribute name="modificationTime" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="file-ref">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="vcs-root-instance">
    <xs:sequence>
      <xs:element name="vcs-root" type="vcs-root-ref" minOccurs="0"/>
      <xs:element ref="properties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="vcsName" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="lastChecked" type="xs:string"/>
    <xs:attribute name="lastVersion" type="xs:string"/>
    <xs:attribute name="lastVersionInternal" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="projectLocator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="newProjectDescription">
    <xs:complexContent>
      <xs:extension base="copyOptionsDescription">
        <xs:sequence>
          <xs:element name="sourceProject" type="project" minOccurs="0"/>
          <xs:element name="parentProject" type="project" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="sourceProjectLocator" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="copyOptionsDescription">
    <xs:sequence>
      <xs:element name="projectsIdsMap" type="properties" minOccurs="0"/>
      <xs:element name="buildTypesIdsMap" type="properties" minOccurs="0"/>
      <xs:element name="vcsRootsIdsMap" type="properties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="copyAllAssociatedSettings" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="items">
    <xs:sequence>
      <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="branches">
    <xs:sequence>
      <xs:element ref="branch" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="branch">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="default" type="xs:boolean"/>
    <xs:attribute name="unspecified" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="agentPools">
    <xs:sequence>
      <xs:element name="agentPool" type="agentPool-ref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="vcs-root">
    <xs:sequence>
      <xs:element ref="project" minOccurs="0"/>
      <xs:element ref="properties" minOccurs="0"/>
      <xs:element name="vcsRootInstances" type="HReference" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="internalId" type="xs:long"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="vcsName" type="xs:string"/>
    <xs:attribute name="modificationCheckInterval" type="xs:int"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="lastChecked" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="projectLocator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="vcs-roots">
    <xs:sequence>
      <xs:element name="vcs-root" type="vcs-root-ref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="issues">
    <xs:sequence>
      <xs:element name="issue" type="issue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vcs-root-instances">
    <xs:sequence>
      <xs:element name="vcs-root-instance" type="vcs-root-instance-ref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:long" use="required"/>
    <xs:attribute name="nextHref" type="xs:string"/>
    <xs:attribute name="prevHref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="buildCancelRequest">
    <xs:sequence/>
    <xs:attribute name="comment" type="xs:string"/>
    <xs:attribute name="readdIntoQueue" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="vcsLabelingOptions">
    <xs:sequence>
      <xs:element name="branchFilter" type="xs:string" minOccurs="0"/>
      <xs:element name="vcsRoots" type="vcs-roots" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="labelName" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="files">
    <xs:sequence>
      <xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="server">
    <xs:sequence>
      <xs:element name="projects" type="HReference" minOccurs="0"/>
      <xs:element name="vcsRoots" type="HReference" minOccurs="0"/>
      <xs:element name="builds" type="HReference" minOccurs="0"/>
      <xs:element name="users" type="HReference" minOccurs="0"/>
      <xs:element name="userGroups" type="HReference" minOccurs="0"/>
      <xs:element name="agents" type="HReference" minOccurs="0"/>
      <xs:element name="buildQueue" type="HReference" minOccurs="0"/>
      <xs:element name="agentPools" type="HReference" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="versionMajor" type="xs:byte" use="required"/>
    <xs:attribute name="versionMinor" type="xs:byte" use="required"/>
    <xs:attribute name="startTime" type="xs:string"/>
    <xs:attribute name="currentTime" type="xs:string"/>
    <xs:attribute name="buildNumber" type="xs:string"/>
    <xs:attribute name="buildDate" type="xs:string"/>
    <xs:attribute name="internalId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="pluginInfos">
    <xs:sequence>
      <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newBuildTypeDescription">
    <xs:complexContent>
      <xs:extension base="copyOptionsDescription">
        <xs:sequence>
          <xs:element name="sourceBuildType" type="buildType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="sourceBuildTypeLocator" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

